[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
	df = diff
[user]
	name = Denis Bazhenov
	email = bazhenov@farpost.com
[branch]
	autosetupmerge = true
	autosetuprebase = always
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[push]
	default = current
[merge]
	tool = vimdiff
