PreferredAuthentications "publickey,password"
GSSAPIAuthentication no
PubkeyAcceptedKeyTypes=+ssh-dss

Host *
	UseKeychain yes

Host pstorage
	Hostname 109.126.16.96
	User bazhenov
	Port 2022

Host pdesktop
	Hostname 109.126.16.96
	User bazhenov
	DynamicForward 3128
	ForwardAgent yes
	RemoteCommand tmux attach || tmux new
	RequestTTY force
	Port 2122

Host *.srv.loc
	IdentityFile ~/.ssh/vhost-dsa
	HostKeyAlgorithms +ssh-dss

Host *.akod.loc
	IdentityFile ~/.ssh/vhost-dsa
	HostKeyAlgorithms +ssh-dss
	User tech
	ProxyCommand ssh -e none tunnel@aux-msk.srv.loc %h %p
	PreferredAuthentications publickey

Host vault.dev
	User logs

Host *.dev
	User tech
	IdentityFile ~/.ssh/vhost-dsa

Host *.farpost.net
	User tech
	IdentityFile ~/.ssh/vhost-dsa
