PreferredAuthentications "publickey,password"
GSSAPIAuthentication no
PubkeyAcceptedKeyTypes=+ssh-dss

Host *
	UseKeychain yes

Host *.srv.loc
	IdentityFile ~/.ssh/vhost-dsa
	HostKeyAlgorithms +ssh-dss

Host goods-payperclick.akod.loc
	IdentityFile ~/.ssh/id_dsa
	HostKeyAlgorithms +ssh-dss
	User tech
	ProxyCommand ssh -e none tunnel@aux-msk.srv.loc %h %p

Host *.akod.loc
	IdentityFile ~/.ssh/vhost-dsa
	HostKeyAlgorithms +ssh-dss
	User tech
	ProxyCommand ssh -e none tunnel@aux-msk.srv.loc %h %p
	PreferredAuthentications publickey

Host vault.dev
	User logs

Host *.dev
	User tech
	IdentityFile ~/.ssh/vhost-dsa
